body{
    max-width: 980px;
    margin: 0 auto;
}

h5{
	font-weight: bold;
	text-align: center;
	margin: 5px 0 5px 0;
}
h5 a:hover{
	color: red;
	
}
a{
	text-decoration: none;
} 
li{
	list-style-type: none;
}
	
	/** header**/
   
header{
    width: 100%;
    height: 455px;
    border-bottom: 2px solid  #27408B;
}
header .background{
	width: 100%;
	height: 380px;
	background-image: url("../img/header/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	opacity: 0.9;
	z-index: -1;
}
.wraper-header{
	width: 100%;
	position: relative;
	top: -362px;
	display: flex;
	flex-direction: column;
}
.wraper-header .wraper-form{
	align-self: flex-end;
	margin-right: 5px;
}
.wraper-header .wraper-form .block-sign-up{
	display: flex;
	justify-content: flex-end;
	margin-top: 5px;
}
.wraper-header .wraper-form .block-sign-up a{
	color: white;
}
.wraper-header .wraper-form .block-sign-up a:hover{
	color: red;
}
.wraper-header .header-foto{
	width: 100%;
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;

}
.wraper-header .header-foto img{
	width: 290px;
}
.wraper-header .header-foto .img{
	margin-left: 1%;
}
.wraper-header .header-foto h1{
	font-size: 30pt;
	font-weight: bold;
	color: white;
	align-self: center;
	margin-left: 2%;
	margin-bottom: -10px;
}

.wraper-header  .burger{
	display: none;
	font-size: 30pt;
	align-self: flex-end;
	margin-left: auto;
	margin-right: 2%;
	margin-bottom: 17px;
}
.wraper-header .wraper-nav ul {
	display: flex;
	justify-content: flex-end;
	margin-right: 5px;
	position: relative;
	top: -64px;
}
.wraper-header .wraper-nav ul li{
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 0px 0px 30px #27408B;
	margin-left: 1%;
	
}
.wraper-header .wraper-nav ul li:hover{
	color: white;
	background: #27408B;
}
.wraper-header .wraper-nav ul li a:hover{
	color: white;
	background: #27408B;
}
.wraper-header .wraper-nav ul li a{
	font-size: 14pt;
	font-weight: bold;
	text-transform: uppercase;
	margin: 5px;
}

/** main **/

main{
	width: 100%;
	border-bottom: 2px solid  #27408B;
}
main section h2{
	text-align: center;
	font-weight: bold;
	color: #27408B;
	background-color: 	#FFFAFA;
}
main article{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #27408B;
	
}
main article .wraper-date{
	margin: 0 auto;
}
main article .wraper-date h5{
	color: 	#8B8682;
}
main article .wraper-block{
	width: 870px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
main article .wraper-block .block{
	width: 48%;
	min-width: 270px;
	box-shadow: 0 0 20px 	#8B8682;
	margin: 5px auto;
}
main article .wraper-block .block img{
	width: 100%;
}

main article .wraper-block .block a:hover{
	text-decoration: underline;
	color: #27408B;
}

/** for blocks**/

#main .three-blocks{
	max-width: 30%;
}
#main .one-block{
	width: 80%;
}

/** gallery **/

 
.wraper-gallery{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}
.wraper-gallery img{
	max-width: 420px;
	margin: 0 auto;
	border: 1px solid grey;
}

/** video **/

.wraper-videos{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.wraper-video-big{
	width: 530px;
	margin: 0 auto;
}
.wraper-video-big iframe{
	width: 100%;
	height: 500px;
	box-shadow: 0 0 20px black;
}
.wraper-video-small{
	width: 365px;
	margin: 0 auto;
}
.wraper-video-small iframe{
	width: 100%;
	padding-bottom: 12px;
	box-shadow: 0 0 20px black;
}
/** footer **/

footer{
	background: #BEBEBE;
}
footer h2{
	text-align: center;
	font-weight: bold;
	color: #27408B;
	background: #FFFAFA;	
}
.wraper-footer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.wraper-contacts{
	width: 500px;
	margin-left: 3%;
}
.wraper-contacts p{
	font-size: 14pt;
}
.wraper-form-textarea{
	width: 280px;
	margin: 0 auto;
}
footer small{
	display: block;
	text-align: center;
}



@media screen and (max-width: 995px) {
	.wraper-header .wraper-nav ul{
		display: none;
	}
	.wraper-header  .burger{
		display: block;
	}
	.wraper-header .header-foto h1{
		align-self: flex-end;
		color: #2F4F4F;
		margin-bottom: 17px;
	}
}
@media screen and (max-width: 860px){
	.wraper-gallery{
		grid-template-columns: 1fr 1fr;
	}
	.wraper-gallery img{
		max-width: 360px;
	}
	.wraper-video-big{
		width: 365px;
	}
	.wraper-video-big iframe{
		height: 165px;
		margin: 9 auto;
	}
	
}
@media screen and (max-width: 750px){
	.wraper-header .header-foto h1{
		font-size: 24pt;
	}
	.wraper-gallery{
		grid-template-columns: 1fr;
	}
	.wraper-gallery img{
		max-width: 300px;
	}
	.wraper-header  .burger{
		font-size: 26pt;
	}
}
@media screen and (max-width: 570px){
	.wraper-header .header-foto img{
		border-radius: 300px;
		width: 100%;
	}
		.wraper-header  .burger{
		font-size: 14pt;
	}
	.wraper-header .header-foto h1{
		font-size: 14pt;
	}
	.wraper-header .header-foto .img{
		width: 200px;
	}
	.wraper-header .header-foto{
		margin-top: 162px;
	}
}
@media screen and (max-width: 590px){
	.wraper-header .header-foto img{
		border-radius: 300px;
		width: 100%;
	}
		.wraper-header  .burger{
		font-size: 14pt;
	}
	.wraper-header .header-foto h1{
		font-size: 14pt;
	}
	.wraper-header .header-foto .img{
		width: 200px;
	}
	.wraper-header .header-foto{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 182px;
	}
}